<footer class="footerContainer" [@fadeInOut]>

  <!-- About Us -->
  <div class="footerContent">
    <div class="footerSection">
      <h3 class="footerSectionTitle">About Us</h3>
      <p class="footerSectionDesc">Noga Company Promotes Related Services in the Electricity Sector in Israel
        Trading in related services in the energy production process is common practice worldwide. Noga Company,
        which is working to develop the field in Israel as well, is leading a series of initiatives,
        including the establishment of a computerized platform through which trading will take place.
      </p>
    </div>

    <!-- Quick Links -->
    <div class="footerSection">
      <h3 class="footerSectionTitle">Quick Links</h3>
      <ul class="footerSectionList">
        <li class="footerSectionListItem"><a class="footerSectionLink" routerLink="" >Home</a></li>
        <li class="footerSectionListItem"><a class="footerSectionLink" routerLink="customerMain">Add New Customers</a></li>
      </ul>
    </div>

    <!-- Contact Info -->
    <div class="footerSection">
      <h3 class="footerSectionTitle">Contact Info</h3>
      <ul class="footerSectionList">
        <li class="footerSectionListItem"><a  class="footerSectionLink" href="mailto:Public.Relations@sysmc.co.il">Email: Public.Relations&#64;sysmc.co.il</a></li>
        <li class="footerSectionListItem"><a class="footerSectionLink" href="tel:0766654376">Phone: 076-6654376</a></li>
        <li class="footerSectionListItem"><a class="footerSectionLink" href="https://www.sysmc.co.il" target="_blank" rel="noopener">Site : www.sysmc.co.il</a></li>
        <li class="footerSectionListItem"><a  class="footerSectionLink" href="https://maps.app.goo.gl/uuzpidMmajhh2v436" target="_blank" rel="noopener">Address: Fliman Moshe 8, Haifa 3508418</a></li>
      </ul>
    </div>

    <!-- Follow Us -->
    <div class="footerSection">
      <h3 class="footerSectionTitle">Follow Us</h3>
      <div class="footerSectionSocial">
        <a class="footerSectionSocialLink" href="https://www.facebook.com/NogaISOIL/" target="_blank" rel="noopener">
          <mat-icon class="footerSectionSocialLinkIcon">facebook</mat-icon>
        </a>
        <a class="footerSectionSocialLink" href="https://www.instagram.com/we.are.noga/" target="_blank" rel="noopener">
          <mat-icon class="footerSectionSocialLinkIcon">photo_camera</mat-icon>
        </a>
        <a class="footerSectionSocialLink" href="https://www.linkedin.com/company/noga-iso/" target="_blank" rel="noopener">
          <mat-icon class="footerSectionSocialLinkIcon">linkedin</mat-icon>
        </a>
      </div>
    </div>
  </div>

  <!-- Rights -->
  <div class="footerBottom">
    <p class="footerBottomDesc">SYSMC-LTD © {{currentYear}}. All rights reserved.</p>
  </div>
</footer>
